/* reset de base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
/*navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem 2rem;
}

.navbar .logo {
  color: #fff;
  font-size: 1.5;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a:hover {
  color: #ffd700;
}

/*Section principale */
.hero {
  padding: 4rem 2rem;
  text-align: center;
  background-color: #1178a4;
}

/* Footer*/
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
